.calendar {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
}


.day {
  position: relative;
  width: calc(100% /7);
  height: 44px;
  display: inline-block;
  background-color: aliceblue;
  box-sizing: border-box;
  text-align: center;
  line-height: 44px;
  border: 1px solid orange;
}

.selected {
  background-color: orangered;
}

.today {
  background-color: paleturquoise;
}

.before {
  opacity: 0.3;
}